/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/CHANGELOG.md export-ignore
/test export-ignore
/Dockerfile export-ignore
